<p id="notice"><%= notice %></p>
<p class="return-to-shop">
<%= link_to 'Keep Shopping', products_path %>
</p>
  <div class="container-product">
  <div class="box">
  <%= image_tag @product.show_photo %>
  </div>
<div class="product-content">
<p class="title">
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p class="sub-title">
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<br>
<p class="list-price">
  <strong>List price: $</strong>
  <%= @product.their_price %>
</p>
<br>
<p class="our-price">
  <strong>Our price: $</strong>
  <%= @product.our_price %>
</p>
<br>
<p class="add-to-cart">

<%=button_to "Add to cart", line_items_path(:product_id => @product.id), {class: 'btn btn-xs'}%>

</div>
</div>


<br>
<br>
